<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>What do you like to do?</ion-card-title>
      <ion-card-subtitle>What do you do when you have free time ?</ion-card-subtitle>
    </ion-card-header>
  

  </ion-card>
  <ion-input label="first:"></ion-input>
  <ion-input label="second:"></ion-input>
  <ion-input label="third:"></ion-input>
  <ion-input label="fourth:"></ion-input>

  <div id="container">
    <ion-button>ТЫкай </ion-button>
  </div>
</ion-content>
